.track-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--bg-dark-primary);
}

.track-card{
    margin: 10px;
    background-color: var(--bg-dark-surface);
    color: var(--txt-primary);
}

header{
    display: flex;
    justify-content: space-evenly;
}

header>div>div{
    display: flex;
    justify-content: space-evenly;
    
}

.imageHeader{
    width: 100px;
    height: 100px;
}